body {
    background-image: url(../images/Planets.jpg);
    background-size: cover;
}

section {
    margin-top:10%;
    margin-left: 36%;
    width: 525px;
    border: 1px black;
    
}

.title {

    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top:6%;
    margin-bottom:0;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(216, 216, 216);

}


.press {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top:4%;
    margin-bottom:0;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(216, 216, 216);
}

.word {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top:4%;
    margin-bottom:0;
    text-align: center;
    
}
.col {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.rocket {
    height:100px;
    width:110px;
    margin-top:2%;
    margin-left:26%;
    /* position: center; */
    /* border-radius: 50%; */
}

#answer {

    color: white;
    font-size: 50px;
    margin-left: 43%;
    margin-top: 13%;
    
}

#counter {

    color: lightblue;
    font-size: 22px;
    margin-left: 10%;
    margin-top: 30%;

}